<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{{getTitle breadcrumbs brandLong ' · '}}}</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		
		{{#ifeq env "production"}}
		<link href="/dist/{{brandSafe}}.styles.css" rel="stylesheet">
		{{/ifeq}}

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		  <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body{{#if isDemo}} class="is-demo"{{/if}}>
		<div id="message-container"></div>
		<div id="header"{{#ifeq section 'homex'}} class="header-first"{{/ifeq}}>
			<div role="navigation" class="navbar navbar-big navbar-default navbar-static-top">
				<div class="navbar-header-container">
					<div class="navbar-header">
						<button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
						</button>
						<a href="/" class="navbar-brand">
							<img src="/images/logo_menu_big.png" style="display: none;" alt="{{brand}}" class="navbar-brand-image-big">
							<img src="/images/logo_menu_small.png" alt="{{brand}}" class="navbar-brand-image-small">
						</a>
					</div>
				</div>
				<div class="collapse navbar-collapse">
					<div class="navbar-main">
						<div class="navbar-main-container">
							<ul class="nav navbar-nav navbar-left" role="menu">
							{{# each navLinks}}
								<li class="{{#ifeq ../section key}}active{{#if ../data.page.hasSubPages}} dropdown{{/if}}{{/ifeq}}">
									{{#ifeq ../section key}}
									{{#unless ../data.pages}}
									<a href="{{ href }}">{{ label }}</a>
									{{else}}
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ label }} <span class="caret"></span></a>
									<ul class="dropdown-menu">
									{{/unless}}
									{{#each ../data.pages}}
										{{#ifeq ../../data.menuPage.slug slug}}
										<li class="{{#ifeq ../../data.page.slug slug}}active {{/ifeq}}{{#if this.hasSubPages}}has-sub-pages expanded{{/if}}">
											<a href="/{{../../data.currentMenuBlock.slug}}/{{slug}}/p/{{shortId}}">{{titleForMenu}}</a>
										</li>
										{{#each ../../data.subPages}}
											<li class="sub-sub-nav{{#ifeq ../../../data.page.slug slug}} active{{/ifeq}}"><a href="/{{../../../data.currentMenuBlock.slug}}/{{slug}}/p/{{shortId}}">{{titleForMenu}}</a></li>
										{{/each}}
										{{else}}
										<li {{#if hasSubPages}}class="has-sub-pages"{{/if}}>
											<a href="/{{../../data.currentMenuBlock.slug}}/{{slug}}/p/{{shortId}}">{{titleForMenu}}</a>
										</li>
										{{/ifeq}}
									{{/each}}
									{{#if ../data.pages}}
									</ul>
									{{/if}}
									{{else}}
									<a href="{{ href }}">{{ label }}</a>
									{{/ifeq}}
								</li>
							{{/each}}
							</ul>
							<ul class="nav navbar-nav navbar-right">
								<li class="search hidden">
									<a href="#search"></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="navbar-upper">
						{{#if hasLogin}}
						<div id="login-button-react"></div>
						{{/if}}
					</div>
				</div>
			</div>
		</div>
		<div id="body">
			{{#if breadcrumbs}}
			<div class="container">
				<ol class="breadcrumb">
					<li><a href="/">Start</a></li>
					{{#each breadcrumbs}}
					{{#if @last}}
					<li class="active">{{label}}</li>
					{{else}}
					<li><a href="{{path}}">{{label}}</a></li>
					{{/if}}
					{{/each}}
				</ol>
			</div>
			{{/if}}
			<!-- Content BODY    -->
			{{{body}}}
			<!-- END Content BODY-->
		</div>
		<footer>
			<div class="container">
			{{#if lastCommit}}
			{{#with lastCommit.commit}}
				<div id="dev-info" class="hidden-xs" style="float: right; text-align: right; margin-bottom: 10px;">
					<img src="{{author.avatar_url}}&s=40" width="20" height="20" class="img-rounded"> <a target="_blank" href="{{author.html_url}}">{{author.login}}</a> authored {{date commit.author.date locale="en" timeago=true}}<br>
					branch {{/with}}<a target="_blank" href="{{lastCommit._links.html}}">{{lastCommit.name}}</a>, 
					{{#with lastCommit.commit}}latest commit <a target="_blank" href="{{html_url}}">{{shortenString sha 10}}</a><br>
				</div>
			{{/with}}
			{{/if}}
			{{address}}
			</div>
		</footer>
		{{>analytics}}
		{{!-- React scripts --}}
		{{#ifeq env "development"}}
		<script type="text/javascript" src="/js/bundle.js"></script>
		{{else}}
		<script type="text/javascript" src="/dist/{{brandSafe}}.vendors.js"></script>
		<script type="text/javascript" src="/dist/{{brandSafe}}.bundle.js"></script>
		{{/ifeq}}
		{{#each pageScripts}}
		<script type="text/javascript" src="/js/{{{src}}}"></script>
		{{/each}}
        {{!-- Stratum Widget --}}
        {{#if stratumWidget}}
		{{#if data.widget.advancedSettings}}
		<script type="text/javascript">
			/**
			 * Advanced widget settings
			 */
			{{{data.widget.advancedSettings}}}
		</script>
		{{/if}}
        {{#with stratumWidget}}
        <script type="text/javascript" src="/stratum/api/widgets/RC/Loader?widget={{widgetSlug}}&target=sw-{{slug}}&{{../data.widget.queryString}}"></script>
        {{/with}}
        {{/if}}
		{{!-- // <script type="text/javascript" src="/js/react/application.js"></script> --}}
		<!--{{{isAdminEditorJS user}}}-->
	</body>
</html>
