<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{titleName}}</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

		{{#ifeq env "production"}}
		<link href="/dist/{{brandSafe}}.styles.css" rel="stylesheet">
		{{/ifeq}}

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		  <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body{{#if isDemo}} class="is-demo"{{/if}}>
		<div id="react-container"></div>
		{{!-- React scripts --}}
		{{#ifeq env "development"}}
		<script type="text/javascript" src="/js/bundle.js"></script>
		{{else}}
		<script type="text/javascript" src="/dist/{{brandSafe}}.vendors.js"></script>
		<script type="text/javascript" src="/dist/{{brandSafe}}.bundle.js"></script>
		{{/ifeq}}
	</body>
</html>
