<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-8">
			{{#with data.contentpage}}
			<article>
				<header>
					<h1>{{title}}{{#if subtitle}} <small>{{subtitle}}</small>{{/if}}</h1>
					<h5>
						{{{categoryList categories prefix="Posted in "}}}
						{{#if author.name.first}}by {{author.name.first}}{{/if}}
					</h5>
				</header>
				<img src="{{cloudinaryUrl image width="750" crop="fill"}}" class="img-responsive">
				{{!-- {{#if image.url }}<img src="{{image.url}}" alt="" class="img-responsive">{{/if}} --}}
				<div class="post">
				{{{content.extended.html}}}
					{{!-- <div class="well">
						<span style="text-transform: uppercase; font-weight: bold; font-size: 12px; float: right;">Markdown</span>
						{{#if content.markdown.html}}
							{{{content.markdown.html}}}
						{{else}}
							No content...
						{{/if}}
					</div>
					<div class="well">
						<span style="text-transform: uppercase; font-weight: bold; font-size: 12px; float: right;">wysiwyg html</span>
						{{#if content.wysiwyg}}
							{{{content.wysiwyg}}}
						{{else}}
							No content...
						{{/if}}
					</div> --}}
				</div>
			</article>
			{{/with}}
		</div>
		<div class="col-md-4">
			<h2>Relaterad information</h2>
			<ul class="well list-unstyled">
				<li>lorem</li>
				<li>ipsum</li>
				<li>dolor</li>
				<li>stratum</li>
			</ul>
		</div>
	</div>
</div>
