<div class="container"><h1>{{#if data.page.title}}{{data.page.title}}{{else}}{{register.name}}{{/if}}</h1></div>
{{#if register.showMap}}<div id="map-canvas" class="map-canvas"></div>{{/if}}
<div class="container">
	<div class="row">
		<div class="col-md-8 col-lg-9">
			<h2>Kontakta oss</h2>
			{{#if data.page.content}}
			<div class="contact-address">
				{{{data.page.content.html}}}
			</div>
			{{/if}}
			{{#if register.email}}
			<div class="contact-address">
				<span class="glyphicon glyphicon-envelope pull-right"></span> {{register.email}}
			</div>
			{{/if}}
			{{#if register.phone}}
			<div class="contact-address">
				<span class="glyphicon glyphicon-earphone pull-right"></span> {{register.phone}}
			</div>
			{{/if}}
			{{#if register.location}}
			<div class="contact-address">
				<ul>
					<li>{{register.name}}</li>
					{{#with register.location}}
					<li>{{street1}}</li>
					<li>{{zipCode}} {{city}}</li>
					{{/with}}
				</ul>
			</div>
			{{/if}}
		</div>
		<div class="col-md-4 col-lg-3">
		<h2>Kontaktpersoner</h2>
		{{#each contacts}}
			{{!-- <div class="col-xs-6 col-sm-4 col-md-3"> --}}
				<div class="contact-user">
						{{#if image.exists}}
							{{{cloudinaryImage image width="160" height="160" crop="fill" gravity="face"}}}
						{{else}}
							<img src="/images/avatar.png" alt="" class="">
						{{/if}}
					<div class="contact-user-info">
						<h3>{{name.full}}</h3>
						{{#if title}}<p class="contact-user-title">{{title}}</p>{{/if}}
						<p><span class="glyphicon glyphicon-envelope"></span> <span class="">{{email}}</span></p>
						{{#if phone}}<p><span class="glyphicon glyphicon-phone"></span> {{phone}}</p>{{/if}}

					</div>
				</div>
			{{!-- </div> --}}
		{{/each}}
		</div>
	</div>
</div>
