{{!< default}}
<div id="head-carousel" class="carousel slide" data-ride="carousel" data-wrap="true" data-interval="3000">
	<ol class="carousel-indicators">
		{{# each data.news}}
		{{#if image.exists}}
		<li data-target="#head-carousel" data-slide-to="{{@index}}" {{#if @first }}class="active"{{/if}}></li>
		{{/if}}		
		{{/each}}
	</ol>
	<!-- Indicators -->
	<div class="carousel-inner" role="listbox">
		{{# each data.news}}
		{{#if image.exists}}
		<div class="item {{#if @first }}active{{/if}}">
			<a href="{{newsUrl slug}}">
				<img src="{{cloudinaryUrl image width="1024" height="400" crop="fill" gravity="north"}}">
			</a>
			<div class="carousel-caption">
				<h2>{{{title}}}</h2>
				<p class="hidden-xs">
					{{content.brief}}
					<a href="{{newsUrl slug}}">...läs mer</a>
				</p>
			</div>
		</div>
		{{/if}}
		{{/each}}
	</div>
	<!-- Controls -->
	<a class="left carousel-control" href="#head-carousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#head-carousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>
<div class="container-fluid">
	<div class="row">
	<div class="col-sm-8">
		<h1>{{brandName}}</h1>
		{{#with data.startPage}}
		{{description}}
		{{/with}}
	</div>
	{{#if isPortal}}
	<div class="col-sm-4">
		<h2>Delregister</h2>
		<div class="sub-registers">
			<ul>
			{{#each data.register.subRegisters}}
				<a href="#{{shortName}}"><li>{{name}}</li></a>
			{{/each}}
			</ul>
		</div>
	{{/if}}
	{{#with data.startPage}}
	{{#ifeq informationBlurb.type 'newsRoll'}}
		{{>newsroll ./../..}}
	{{/ifeq}}
	{{#ifeq informationBlurb.type 'newsItem'}}
		<h2>Senaste</h2>
		{{>newswidget ./../..}}
	{{/ifeq}}
	{{#ifeq informationBlurb.type 'meeting'}}
		<h2>Kommande möte</h2>
		Meeting
	{{/ifeq}}
	{{#ifeq informationBlurb.type 'image'}}
	<div class="caption-ct">
		<img src="{{cloudinaryUrl informationBlurb.image width=600 height=400 crop='fill'}}" class="img-responsive">
		{{#if informationBlurb.imageText}}
		<div class="caption-text">
			{{informationBlurb.imageText}}
		</div>
		{{/if}}
	</div>
	{{/ifeq}}
	</div>
	{{/with}}
	</div>
	{{#if isPortal}}
	{{else}}
	<div class="row">
		{{#each data.widgets}}
		<div class="col-sm-4 col-lg-3">
			{{>stratumwidget}}
		</div>
		{{/each}}
	</div>
	{{/if}}

</div>

