{{!< default}}
<div class="container">
	<div class="jumbotron">
		<h1>Onlinestatistik i realtid</h1>
		<p class="lead">
			Siffrorna nedan visar genomsnittsvärden för alla registrerade patienter i Sverige sedan 2008. Vill man se värden för olika landsändar klickar man sig vidare.
		</p>
		<div class="row">
			<div class="startpage-widget col-md-3 col-xs-6">
				<div class="">
					<span class="startpage-widget-digit">
						72,5%
					</span>
					<span class="startpage-widget-text">Lorem ipsum dolor sit.</span>
					<a href="#stat">Se mer statistik</a>
				</div>
			</div>
			<div class="startpage-widget col-md-3 col-xs-6">
				<div class="">
					<span class="startpage-widget-digit">
						72,5%
					</span>
					<span class="startpage-widget-text">Lorem ipsum dolor sit.</span>
					<a href="#stat">Se mer statistik</a>
				</div>
			</div>
			<div class="startpage-widget col-md-3 col-xs-6">
				<div class="">
					<span class="startpage-widget-digit">
						72,5%
					</span>
					<span class="startpage-widget-text">Lorem ipsum dolor sit.</span>
					<a href="#stat">Se mer statistik</a>
				</div>
			</div>
			<div class="startpage-widget col-md-3 col-xs-6">
				<div class="">
					<span class="startpage-widget-digit">
						72,5%
					</span>
					<span class="startpage-widget-text">Lorem ipsum dolor sit.</span>
					<a href="#stat">Se mer statistik</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
	<div class="col-sm-8">
		<h2>{{brandName}}</h2>
		{{#with data.startPage}}
		{{description}}
		{{/with}}
	</div>
	<div class="col-sm-4">
	{{#if isPortal}}
		<h2>Delregister</h2>
		<div class="sub-registers">
			<ul>
			{{#each data.register.subRegisters}}
				<a href="//{{shortName}}.{{../topHost}}"><li>{{name}}</li></a>
			{{/each}}
			</ul>
		</div>
	{{/if}}
	{{#with data.startPage}}
	{{#ifeq informationBlurb.type 'newsRoll'}}
		{{>newsroll ./../..}}
	{{/ifeq}}
	{{#ifeq informationBlurb.type 'newsItem'}}
		<h2>Senaste</h2>
		{{>newswidget ./../..}}
	{{/ifeq}}
	{{#ifeq informationBlurb.type 'meeting'}}
		<h2>Kommande möte</h2>
		Meeting
	{{/ifeq}}
	{{#ifeq informationBlurb.type 'image'}}
	<div class="caption-ct">
		{{{cloudinaryImage informationBlurb.image width=600 height=400 crop='fill' class="img-responsive"}}}
		{{#if informationBlurb.imageText}}
		<div class="caption-text">
			{{informationBlurb.imageText}}
		</div>
		{{/if}}
	</div>
	{{/ifeq}}
	</div>
	{{/with}}
	</div>
	{{#if isPortal}}
	{{else}}
	<div class="row">
		{{#each data.widgets}}
		<div class="col-sm-4 col-lg-3">
			{{>stratumwidget}}
		</div>
		{{/each}}
	</div>
	{{/if}}

</div>

