{{!< default}}
<div class="container">
{{#if data.startPage.jumbotron}}
<div class="jumbotron">
	<div class="row">
		{{#with data.startPage.jumbotron}}
		<div class="col-lg-9">
		<h1>{{header}}</h1>
		<p class="lead">
			{{{description.html}}}
		</p>
		</div>
		</div>
		{{/with}}
		<div class="row">
		{{#each data.startPageWidgets}}
			<div class="startpage-widget col-md-15 col-sm-4 col-xs-6">
				<div class="">
					<span class="startpage-widget-digit">
						{{digit}}
					</span>
					<span class="startpage-widget-text">{{description}}</span>
					<a href="#stat">Se mer statistik</a>
				</div>
			</div>
		{{/each}}
		</div>
	</div>
</div>
{{/if}}
<div class="container">
	<div class="row">
	<div class="col-md-7">
		<div class="base-column brief-info-column">
		{{#with data.startPage}}
			<h2>{{header}}</h2>
			<p class="lead">{{{description.html}}}</p>
		{{/with}}
		</div>
	</div>
	<div class="col-md-5">
	{{#if isPortal}}
		<h2>Delregister</h2>
		<div class="sub-registers">
			<ul>
			{{#each data.register.subRegisters}}
				<a href="//{{shortName}}.{{../topHost}}"><li>{{name}}</li></a>
			{{/each}}
			</ul>
		</div>
	{{/if}}
	{{#with data.startPage}}
	{{#ifeq informationBlurb.type 'newsRoll'}}
		{{>newsroll ./../..}}
	{{/ifeq}}
	{{#ifeq informationBlurb.type 'newsItem'}}
		<h2>Senaste</h2>
		{{>newswidget ./../..}}
	{{/ifeq}}
	{{#ifeq informationBlurb.type 'meeting'}}
		<h2>Kommande möte</h2>
		Meeting
	{{/ifeq}}
	{{#ifeq informationBlurb.type 'image'}}
{{!-- 			{{#if informationBlurb.imageText}}
			<h2>
				{{informationBlurb.imageText}}
			</h2>
			{{/if}} --}}
	<div class="base-column">
		{{!-- <div class="caption-ct"> --}}
			{{{cloudinaryImage informationBlurb.image width=690 height=500 crop='fill' class="img-responsive"}}}
{{!-- 			{{#if informationBlurb.imageText}}
			<div class="caption-text">
				{{informationBlurb.imageText}}
			</div>
			{{/if}} --}}
		</div>
	</div>
	{{/ifeq}}
	</div>
	{{/with}}
	</div>
	{{#if isPortal}}
	{{else}}
	<div class="row">
		{{#each data.widgets}}
		<div class="col-sm-4 col-lg-3">
			{{>stratumwidget}}
		</div>
		{{/each}}
	</div>
	{{/if}}

</div>

