<div class="container">
	<h1>Nyheter</h1>
	<p>Antal artiklar: {{data.news.results.length}}</p>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-8">
			{{# each data.news.results}}
			<div class="news-list-item">
				<a href="{{newsUrl slug}}">
					<div class="news-list-item-content">
						<h2>{{{title}}}</h2>
						<p class="published-at">
							{{date publishedDate format="YYYY-MM-DD"}}
						</p>
						<p class="lead">{{{content.lead}}}</p>
					</div>
				</a>
			</div>
			{{/each}}
		</div>
		<div class="col-md-4">
			<!-- Filter -->
		</div>
	</div>
	{{>pagination}}
</div>
