<div class="container">
	<div class="news-item-full">
		<div class="row">
			{{#with data.newsItem}}
			<div class="col-md-8">
				<article class="base-page clearfix">
					<header>
						<span class="published-at">{{date publishedDate format="YYYY-MM-DD"}}</span>
						<h1>{{title}}{{#if subtitle}} <small>{{subtitle}}</small>{{/if}}</h1>
					</header>
					{{#ifeq imageLayout "landscape"}}
					{{#if image.exists}}
					<div class="caption-ct base-page-head-image base-page-head-image-full">
						{{{cloudinaryImage image width="750" crop="fill" class="news-item-main-img img-responsive"}}}
						{{#if imageDescription}}<div class="caption-text">{{imageDescription}}</div>{{/if}}
					</div>
					{{/if}}
					{{/ifeq}}
					<div class="post">
						<p class="lead">
							{{content.lead}}
						</p>
						{{{content.extended.html}}}
					</div>
					{{#if author}}
					<div class="news-item-author">
						{{#with author}}
						{{#if image.exists}}
							{{{cloudinaryImage image width="80" height="80" crop="fill" gravity="face" alt="{{name.first}} {{name.last}}" }}}
						{{/if}}
						<div class="news-item-author-info">
							<span class="news-item-name">{{name.full}}</span>
							{{#if email}}<a href="mailto:{{email}}" class="news-item-email">{{email}}</a>{{/if}}
						</div>
						{{/with}}
					</div>
					{{/if}}
				</article>
			</div>
			{{#ifeq imageLayout "portrait"}}
			{{#if image.exists}}
			<div class="col-md-4 content-page-images">
				<div class="caption-image">
					{{{cloudinaryImage image width="640" class="img-responsive"}}}			
					{{#if imageDescription}}
					<div class="caption-text">
						{{imageDescription}}
					</div>
					{{/if}}
				</div>
			</div>
			{{/if}}
			{{/ifeq}}
			{{#if resources}}
			<div class="col-md-4">
				{{>resourcelist resources}}
			</div>
			{{/if}}
			{{/with}}
		</div>
	</div>
</div>
