<div class="container">
	<h1>Nyheter och meddelanden</h1>
	<p>Antal artiklar: {{data.currentTotal}}</p>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-8">
			{{# each data.news.results}}
			<div class="news-list-item">
				<a href="{{newsUrl slug}}">
					<div class="news-list-item-content">
						<h2>{{{title}}}</h2>
						<p class="published-at">
							{{date publishedDate format="YYYY-MM-DD"}}
						</p>
						<p class="lead">{{{content.lead}}}</p>
					</div>
				</a>
			</div>
			{{/each}}
		</div>
		<div class="col-md-4">
			<div class="news-filter">
				<h2>Filtrera nyheter</h2>
				<span class="news-filter-header">År</span>
				<ul class="news-filter-list">
					<li>
						{{#if filters.year}}
						<a href="/nyheter">
						{{/if}}
						Alla ({{data.totalNews}})
						{{#if filters.year}}
						</a>
						{{/if}}
					</li>
				{{#each data.newsYears}}
					<li>
						{{#ifeq ../filters.year _id.year}}
							{{_id.year}} ({{total}})
						{{else}}
							<a href="/nyheter?year={{_id.year}}">{{_id.year}} ({{total}})</a>
						{{/ifeq}}
					</li>
				{{/each}}
				</ul>
			</div>
		</div>
	</div>
	{{>pagination}}
</div>
