<div class="container">
	<div class="news-item-full">
		<div class="row">
			{{#with data.newsItem}}
			<div class="col-md-8">
				<article class="base-page clearfix">
					<header>
						<span class="published-at pull-right"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{date publishedDate format="YYYY-DD-MM"}}</span>
						<h1>{{title}}{{#if subtitle}} <small>{{subtitle}}</small>{{/if}}</h1>
					</header>
					{{#if image.exists}}
					<div class="caption-ct base-page-head-image base-page-head-image-full">
						{{{cloudinaryImage image width=850 height=370 crop='fill' gravity='faces' class="news-item-main-img img-responsive"}}}
					</div>
					{{/if}}
					<div class="post">
						<p class="lead">{{content.lead}}</p>
						{{{content.full}}}
					</div>
					<div class="news-item-author">
						{{#with author}}
						{{#if image.exists}}
							{{{cloudinaryImage image width="80" height="80" crop="fill" gravity="face" alt="{{name.first}} {{name.last}}" }}}
						{{/if}}
						<div class="news-item-author-info">
							<span class="news-item-name">{{name.first}} {{name.last}}</span>
							<span class="news-item-email">{{email}}</span>
						</div>
						{{/with}}
					</div>
				</article>
			</div>
			{{#if resources}}
			<div class="col-md-4">
				{{>resourcelist resources}}
			</div>
			{{/if}}
			{{/with}}
		</div>
	</div>
</div>
