<div class="container">
	<h1>Nyheter</h1>
</div>
<div class="container">
	<div class="row">
		{{!-- <div class="col-sm-8 col-md-9"> --}}
			{{!-- <h4 class="text-weight-normal">Showing {{ data.news.results.length}} post.</h4> --}}
			<div class="news-list">
				<div class="news-list-sizer"></div>
				<div class="news-list-gutter"></div>
				{{# each data.news.results}}
				<a href="{{newsUrl slug}}">
					<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user "NewsItem" _id}}{{/if}}" class="news-list-item">
						{{#if image.exists}}
						<div class="news-list-item-image">
							{{{cloudinaryUrl image imageTag="true" width="500" height="350" html_width="" html_height="" crop='fill'}}}
						</div>
						{{/if}}
						<div class="news-list-item-content">
							<p class="published-at">
								{{date publishedDate format="Do MMM, YYYY"}}
							</p>
							<h2>{{{title}}}</h2>
							<p class="lead text-muted">{{{categoryList categories prefix="Posted in "}}}
								{{#if author.name.first}}by {{author.name.first}}{{/if}}
							</p>
							<p>{{{content.brief}}}</p>
							{{!-- <p class="read-more"><a href="{{newsUrl slug}}">Read more...</a></p> --}}
						</div>
					</div>
				</a>
				{{/each}}
			</div>
{{!-- 		</div>
		<div class="col-sm-4 col-md-3">
			<h2>Categories</h2>
			<div style="margin-top: 70px;" class="list-group">
				<a href="/nyheter" class="active list-group-item">All Categories</a>
				{{# each data.categories }}
				<a href="{{categoryUrl key}}" class="false list-group-item">{{name}}</a>
				{{/each}}
			</div>
		</div> --}}
	</div>
	{{>pagination}}
</div>
