<div class="container">
	<div class="row">
		{{#ifeq data.page.layout "full"}}
		{{else}}
		<div class="col-lg-2 col-md-3">
			<ul class="nav nav-pills nav-stacked">
			{{#each data.pages}}
			{{#ifeq ../data.menuPage.slug slug}}
				<li{{#ifeq ../../data.page.slug slug}} class="active"{{/ifeq}}>
					<a href="/{{../../data.currentMenuBlock.slug}}/{{slug}}">{{title}}</a>
					<ul class="nav nav-pills nav-stacked">
					{{#each ../../data.subPages}}
						<li{{#ifeq ../../../data.page.slug slug}} class="active"{{/ifeq}}><a href="/{{../../../data.currentMenuBlock.slug}}/{{slug}}">{{title}}</a></li>
					{{/each}}
					</ul>
				</li>
			{{else}}
				<li>
					<a href="/{{../../data.currentMenuBlock.slug}}/{{slug}}">{{title}}</a>
				</li>
			{{/ifeq}}
			{{/each}}
			</ul>
		</div>
		{{/ifeq}}
		{{#ifeq data.page.layout "full"}}
		{{else}}
		<div class="col-md-9 col-lg-7">
		{{/ifeq}}
		{{!-- {{> widget}} --}}
				{{!-- {{#if ../stratumWidget}} --}}
				{{!-- {{/if}} --}}
		{{#with data.page}}
		{{#ifeq ../data.page.layout "standard"}}
		{{/ifeq}}
		{{!-- <article> --}}
			<header>
				<h1>{{title}}</h1>
				<h5>
					{{{categoryList categories prefix="Posted in "}}}
					{{#if author.name.first}}by {{author.name.first}}{{/if}}
				</h5>
			</header>
			{{#if image.exists}}
			<div class="caption-ct page-head-image">
				{{{cloudinaryImage image width="750" crop="fill" class="img-responsive"}}}
				{{#if imageDescription}}<div class="caption-text">{{imageDescription}}</div>{{/if}}
			</div>
			{{/if}}
			{{#if ../stratumWidget}}
			{{#with ../../stratumWidget}}
				<div class="stratum-widget" id="sw-{{slug}}"></div>
				<script type="text/javascript">
				{{{../../../data.widget.advancedSettings}}}
				</script>
				<script type="text/javascript" src="/stratum/api/widgets/{{widgetSlug}}"></script>
			{{/with}}
			{{/if}}
			{{!-- Widget --}}
			{{#if ../widgetTpl}}
	 		{{> (lookup ../.. 'widgetTpl') ../../widget }}
	 		{{/if}}
	 		{{!-- /Widget --}}
			<div class="post">
				{{{content.html}}}
			</div>
		{{!-- </article> --}}
		{{#ifeq ../data.page.layout "standard"}}
		</div>
		{{/ifeq}}
		{{/with}}
		{{#if data.page.images}}
		<div class="content-page-images {{#ifeq data.page.layout "standard"}}col-lg-3 col-md-offset-3 col-lg-offset-0{{/ifeq}}">
			{{#each data.page.images}}
				{{#ifeq ../data.page.layout "standard"}}
					<div class="col-sm-6 col-lg-12">
				{{else}}
					<div class="col-sm-6 col-lg-4">
				{{/ifeq}}
						<a href="{{cloudinaryUrl this}}">
							{{{cloudinaryImage this width="500" crop="fill" class="img-responsive base-column"}}}
						</a>
					</div>
			{{/each}}
		{{/if}}
		</div>
	</div>
</div>
