{{!--<h2>Nyheter</h2>
<div class="news-roll">
	<ul>
	{{#each this}}
		<li>
			<span class="news-roll-date">{{date publishedDate timeago=true}}</span>
			<span class="news-roll-title"><a href="{{newsUrl slug}}">
				{{title}}
			</a></span>
			<p>{{content.lead}}</p>
			<a href="{{newsUrl slug}}">
				<span class="news-roll-readmore">Läs mer</span>
			</a>
		</li>
	{{/each}}
	</ul>
</div>--}}
<div class="news-roll-simple">
	<h2>Senaste nytt</h2>
	<ul>
		{{#each this}}
		<li>
			<span class="news-roll-date">{{date publishedDate format="YYYY-MM-DD"}}</span>
			<a class="news-roll-title" href="{{newsUrl slug}}">
				{{title}}
			</a>
		</li>
		{{/each}}
	</ul>
	<a href="/nyheter">Se fler nyheter</a>
</div>
